*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url(./img/conversor.png);
    background-size: 100%;
}




main{
  
    
    background: transparent;
    width: 375px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    margin-bottom: 10px;
    border: solid black;
    
}


label{

    font-weight: bold;
    margin-left: 5px;
    
}

.select-1{

    width: 327px;
    height: 48px;   
    border-radius: 5px;
    border: solid #000;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    margin-left: 5px;
    background: #bbbbbb;
    
    
}

.select-2{

    width: 327px;
    height: 48px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: solid #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #000;
    margin-left: 5px;
    background: #bbbbbb;
    
    
    

}

input{

    width: 327px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: solid #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #555555;
    margin-left: 5px;
    padding: 8px;
    
}

button{

    width: 327px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
    background: rgb(140, 3, 135);
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #000;
    margin-left: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.5;
}

section{

    border: solid #07060d;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.seta{

    margin-top: 10px;
    margin-bottom: 10px;
}